<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniWellness Hub - Home</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    {{>navbar}}
    <div class="content">
        <h1>Welcome to UniWellness Hub</h1>
        <p>Your go-to platform for mental health awareness and support.</p>
        <a href="/registerationpage">Get Started</a>
    </div>
</body>
</html>
