<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniWellness Hub - Reset Password</title>
    <link rel="stylesheet" href="/CSS/style.css"> <!-- Ensure correct path to your CSS -->
</head>
<body>
    {{>navbar}}
    <div class="reset-password">
        <h2>Reset Password</h2>
        <input type="password" id="password" placeholder="New Password">
        <input type="password" id="confirmPassword" placeholder="Confirm Password">
        <button onclick="submitResetForm('{{token}}')">Submit</button>
        <a href="/signIn">Back to Log In</a>
    </div>
    <script src="/js/resetpassword.js"></script> <!-- Path to your JavaScript file -->
</body>
</html>
