<div class="nav">
    <div class="logo">
        <img src="/Images/logo-black.png" alt="UniWellness Logo">
        <span style="color: white; font-size: 20px;">UniWellness Hub</span>
    </div>
    <div class="nav-links nav-links-center">
        <a href="/createBlog">Create Blogs</a>
        <a href="#">Add Events</a>
        <a href="/helpRequests">Help Requests</a>
        <a href="/students">Students</a>
        <a href="counselors">Counsellors</a>
        <a href="counselorsrequests">Counselor Requests</a> <!-- New Link -->
    </div>
    <div class="nav-links nav-links-right">
        <a href="#">
            Log Out
        </a>
    </div>
</div>
