<div class="nav">
        <div class="logo">
            <img src="/Images/logo-black.png" alt="UniWellness Logo">
            <span style="color: white; font-size: 20px;">UniWellness Hub</span>
        </div>
        <div class="nav-links nav-links-center">
            <a href="/index">Home</a>
            <a href="#">Blogs</a>
            <a href="#">Events</a>
            <a href="/aboutus">About Us</a>
        </div>
        <div class="nav-links nav-links-right">
            <a href="/signIn">Log In</a>
        </div>
    </div>
