<div class="nav">
    <div class="logo">
        <img src="/Images/logo-black.png" alt="UniWellness Logo">
        <span style="color: white; font-size: 20px;">UniWellness Hub</span>
    </div>
    <div class="nav-links nav-links-center">
        <a href="/counselorcreateblog">Create Blogs</a>
        <a href="/helpRequestsList">Requests</a>
        <a href="/myCases">My Cases</a>
    </div>
    <div class="nav-links nav-links-right">
        <a href="#">Sign Out</a>
    </div>
</div>
