<div class="nav">
    <div class="logo">
        <img src="/Images/logo-black.png" alt="UniWellness Logo">
        <span style="color: white; font-size: 20px;">UniWellness Hub</span>
    </div>
    <div class="nav-links nav-links-center">
        <a href="/viewblogs">Blogs</a>
        <a href="#">Events</a>
        <a href="/needhelp">Need Help?</a>
        <a href="#">Quizzes</a>
        <a href="/aboutus">About Us</a>
    </div>
    <div class="logo">
        <a href="/profile">
            My Profile
        </a>
    </div>
</div>