body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/Images/BG2.png'); /* Replace with your background image path */
    background-size: cover;
    background-position: center;
}

/*Naviagation Bar*/
.nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav .logo {
    display: flex;
    align-items: center;
}

.nav .logo img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.nav .nav-links {
    display: flex;
    gap: 15px;
}

.nav .nav-links-center {
    display: flex;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
}

.nav .nav-links-right {
    display: flex;
    gap: 15px;
}

.nav a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
}


/* Registration Page */
.registration {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    text-align: center;
    margin: 60px auto; /* Center horizontally */
    width: 300px;
    position: relative;
    top: 50%;
    transform: translateY(8%);
}
.registration h2 {
    margin-bottom: 20px;
    color: #333;
}
.registration input {
    margin: 10px 0;
    padding: 10px;
    width: 92%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.registration button {
    padding: 10px 20px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
.registration a {
    display: block;
    text-decoration: none;
    color: #4CAF50;
    margin-top: 10px;
}

/* SignIn Page */
.signin {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    text-align: center;
    margin: 60px auto; /* Center horizontally */
    width: 300px;
    position: relative;
    top: 50%;
    transform: translateY(50%);
}
.signin h2 {
    margin-bottom: 20px;
    color: #333;
}
.signin input {
    margin: 10px 0;
    padding: 10px;
    width: 92%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.signin button {
    padding: 10px 20px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}
.signin a {
    display: block;
    text-decoration: none;
    color: #4CAF50;
    margin-top: 10px;
}
